.main-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  height: 234px; /* Ajustez la hauteur ou la largeur selon vos besoins */

  &__image {
    max-height: 220px;
    margin-right: 150px;
  }
}
