$primary-color: #007BFF;
$secondary-color: #880E4F;
$error-color: #f44336;
$font-family: Arial, sans-serif;
$border-radius: 5px;
$flash-color-success: #4caf50;
$flash-color-info: #2196f3;
$flash-color-error: #f44336;