$primary-color: #000000;
$secondary-color: #9114A8;
$gradient-color: linear-gradient(89deg, #5A13A5 30.61%, #FC17AF 104.58%);
$error-color: #f44336;
$font-family: Arial, sans-serif;
$border-radius: 5px;
$flash-color-success: #4caf50;
$flash-color-info: #2196f3;
$flash-color-error: #f44336;