.landing-page {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;

  .text-repeat {
    color: #000000;
    font-family: "raleway";
    font-size: 24px;
    font-weight: 300;
  }

  .story-section {
    position: relative;
    text-align: center;
    margin: 0px 0;

    .story-container {
      position: relative;

      .story-image {
        inline-size: 100%;
        block-size: auto;
        display: block;
        block-size: 600px;
      }

      .header-image {
        position: relative;
        width: 300px;
        height: 300px;
        margin: auto;
      }

      .story-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        .app-buttons {
          text-align: center;
          background-color: #f3f3f3;

          p {
            margin-block-end: 0;
            color: white;
          }
        }
      }
    }

    .app-buttons {
      text-align: center;
      /* Centre le texte et les images */
      margin-block-start: 0;
      background-color: #f1f1f1;

      p {
        padding: 40px 0 0 0;
        /* Ajoute un espacement entre les paragraphes */
        font-size: 16px;
        line-height: 1.5;
        margin: 0 !important;
      }

      img {
        inline-size: 150px;
        /* Largeur des boutons */
        margin: 10px 10px 40px 10px;
        /* Espacement horizontal entre les images */
        transition: transform 0.3s ease-in-out;
        /* Animation pour le survol */

        &:hover {
          transform: scale(1.1);
          /* Agrandit légèrement au survol */
        }
      }

      /* Responsiveness */
      @media screen and (max-width: 768px) {
        img {
          width: 120px;
          /* Réduit la largeur sur les écrans moyens */
        }
      }

      @media screen and (max-width: 480px) {
        img {
          inline-size: 100px;
          /* Réduit encore plus la largeur sur les petits écrans */
        }
      }
    }
  }

  .story-container {
    //background-color: black; // Fond noir pour toute la section
    background-image: url("../../assets//images//experience.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0; // Espacement en haut et en bas
    inline-size: 100%;

    .video-wrapper {
      position: relative;
      inline-size: 100%;
      max-inline-size: 800px; // Limite la largeur de la vidéo
      border-radius: 4px; // Coins arrondis pour la vidéo
      overflow: hidden; // Empêche tout débordement

      .story-video {
        inline-size: 100%;
        block-size: auto;
        display: block;
        border: none; // Supprime les bordures éventuelles
      }

      .overlay-text {
        position: absolute;
        inset-block-end: 20px; // Positionne le texte à 20px du bas
        left: 60px; // Positionne le texte à 20px du bord gauche
        color: white; // Couleur du texte
        font-size: 1.1em;
        text-align: left;
        padding: 0 20px;
        background: rgba(
          0,
          0,
          0,
          0.267
        ); // Fond semi-transparent pour améliorer la lisibilité
        border-radius: 4px; // Coins arrondis pour le fond du texte
        max-width: 80%; // Empêche le texte de déborder

        p {
          color: white;
        }
      }
    }
  }

  section {
    justify-content: center;
  }

  .brand-logos {
    display: flex;
    /* Affiche les éléments en ligne */
    flex-wrap: wrap;
    /* Permet de passer à la ligne si l'espace manque */
    justify-content: center;
    /* Centre les éléments horizontalement */
    align-items: center;
    /* Centre les éléments verticalement */
    gap: 60px;
    /* Espacement entre les logos */
    padding: 5px 0 5px 0;
    background-color: #f1f1f1;
    margin-top: 60px;

    img {
      max-inline-size: 100px;
      /* Taille maximale des logos */
      block-size: auto;
      /* Préserve le ratio des images */
      transition: transform 0.2s ease-in-out;
      padding: 10px 0px 10px 0px;

      &:hover {
        transform: scale(1.1);
        /* Agrandit légèrement l'image au survol */
      }
    }

    @media screen and (max-width: 768px) {
      img {
        max-inline-size: 70px;
        /* Réduit la taille des logos sur petits écrans */
      }
    }

    @media screen and (max-width: 480px) {
      img {
        max-inline-size: 50px;
        /* Taille encore plus petite sur très petits écrans */
      }
    }
  }

  .landing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-inline-start: 50px;
    padding-block-start: 30px;

    h1 {
      font-size: 36px;
      color: #ad31ff;
    }

    p {
      margin-block-end: 20px;
      color: #000000;
      font-family: "Raleway";
      font-weight: 400;
    }

    .header-content {
      flex: 1;
      max-inline-size: 55%;
      text-align: left;
    }

    .header-image {
      flex: 1;
      max-inline-size: 30%;
      text-align: center;
    }

    .header-image img {
      inline-size: 500px;
      max-inline-size: 100%;
      block-size: auto;
      object-fit: contain;
    }

    .header-content {
      h1 {
        font-size: 68px;
        color: #000000;
        text-align: left;
        line-height: normal;
        font-family: "Urbanist", serif;
        margin-bottom: 20px;
        padding-right: 40px;
      }

      p {
        font-size: 18px;
        text-align: justify;
        margin-bottom: 40px;
      }

      .cta-button {
        padding: 20px 30px;
        background-color: #2d1e2c;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #450b6d;
        }
      }
    }
  }
  @keyframes draw-text {
    0% {
      stroke-dasharray: 0, 100%;
    }
    100% {
      stroke-dasharray: 100%, 0;
    }
  }

  .animated-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }

  .animated-text {
    font-family: "Raleway", sans-serif;
    font-size: 14vw;
    font-weight: bold;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 0.4px;
    stroke-dasharray: 0, 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .animated-text.visible {
    opacity: 1;
    animation: draw-text 2s ease forwards;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000000;
    /* Couleur des flèches */
    font-size: 24px;
    /* Taille des flèches */
  }

  .swiper-pagination-bullet {
    background: #000000;
    /* Couleur des points de pagination */
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper {
    inline-size: 100%;
    block-size: auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .carousel-section {
    margin: 0 auto;
    background-color: #efefef;

    .carousel-slide {
      img {
        block-size: auto;
        border-radius: 8px;
        padding: 0 40px;
      }
    }
  }

  .typing {
    font-weight: bold;
    background-image: linear-gradient(45deg, #5a13a5, #d2008c);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: blink-caret 0.8s step-end infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #d10075;
    }
  }
  .carousel-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* Espacement entre l'image et le texte */

    .carousel-image-container {
      position: relative;
      /* Nécessaire pour positionner la petite image */

      .carousel-image {
        inline-size: 300px;
        /* Largeur de l'image principale */
        border-radius: 8px;
      }

      .carousel-small-image {
        position: absolute;
        inset-block-end: -10px;
        /* Ajustez selon vos besoins */
        inset-inline-end: -10px;
        /* Ajustez selon vos besoins */
        inline-size: 80px;
        /* Largeur de la petite image */
        block-size: auto;
        z-index: 2;
        /* Assure que l'image reste visible */
      }
    }

    .carousel-text {
      max-inline-size: 560px;
      /* Limite la largeur du texte */
      text-align: start;
      margin-bottom: 40px;

      h2 {
        font-size: 36px;
        font-family: "Raleway";
        color: #000000;
        line-height: 1.2;
        padding-bottom: 10px;

        .highlight {
          background-color: #fc17af;
          background-image: linear-gradient(45deg, #5a13a5, #d2008c);
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          /* Couleur mise en évidence */
        }
      }

      p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.6;
        color: #000000;
        font-family: "Raleway";
        padding-right: 10%;
        padding-top: 10px;
      }
    }
  }

  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .carousel-slide {
      flex-direction: column;

      .carousel-image-container {
        .carousel-image {
          inline-size: 100%;
          /* S'adapte à la largeur de l'écran */
        }
      }

      .carousel-text {
        max-inline-size: 100%;
        text-align: center;
        /* Centre le texte sur les petits écrans */
      }
    }
  }

  .features-section {
    text-align: center;
    padding: 30px 20px;
    background-color: #f9f9f9;

    h2 {
      font-size: 28px;
      margin-block-end: 0;
    }

    .cta-button {
      margin-block-start: 20px;
    }
  }

  .grid-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;

    .grid-item {
      flex: 1;
      margin: 0 10px;
      text-align: center;

      h3 {
        font-size: 20px;
        color: #5c0d91;
      }

      p {
        margin-block-start: 10px;
        font-size: 16px;
      }
    }
  }

  .viu-section {
    position: relative;
    //block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 560px;

    .viu-background {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 100%;

      .viu-image {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }

    .viu-title {
      position: absolute;
      z-index: 1;
    }

    .viu-content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      max-inline-size: 1200px;
      inline-size: 100%;
      gap: 20px;
      /* Espacement entre le contenu et l'image */

      .viu-content {
        flex: 1;
        z-index: 1;

        h2 {
          font-size: 72px;
          font-weight: bold;
          color: white;
          line-height: 0.8;
        }

        p {
          font-size: 20px;
          margin-block-start: 0;
          margin-block-end: 50px;
          color: white;
        }

        .custom-list {
          list-style: none; /* Supprime les puces par défaut */
          padding: 0;
          margin-bottom: 40px;
        }

        .custom-list li {
          position: relative;
          padding-left: 36px; /* Espace pour afficher la puce */
          margin-bottom: 20px; /* Espacement entre les items */
          line-height: 1.4; /* Lisibilité améliorée */
          color: #ffffff;
          font-size: 20px;
          font-weight: 300;
          font-family: "Raleway";
        }

        .custom-list li::before {
          content: "";
          position: absolute;
          left: 4px;
          top: 22%;
          transform: translateY(-50%);
          width: 24px; /* Taille de l'image */
          height: 24px; /* Taille de l'image */
          background-image: url("../../assets/images/check_list.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }

        .cta-button {
          background-color: #000000;
          color: #fff;
          padding: 25px 30px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;
          margin-bottom: 40px;

          &:hover {
            background-color: #181818;
          }
        }
      }

      .big-u-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .big-u {
          max-inline-size: 114%;
          block-size: auto;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to left,
          /* Direction du dégradé (de la droite vers la gauche) */
            rgba(53, 35, 35, 0.479),
          /* Couleur sombre à droite */ rgba(250, 250, 250, 0)
            /* Couleur transparente à gauche */
        );
        pointer-events: none; /* Laisse les clics passer à travers */
      }
    }
  }
}

.footer-cgpu {
  list-style: none;
  display: flex;

  li {
    list-style: none;
    color: #000;
    margin-inline-end: 10px;

    p > a {
      color: #000;
      text-decoration: none;
      font-size: 12px;
      padding: 0 10px;
      font-family: "Raleway";
      font-weight: 400;
    }

    p {
      color: #000;
      text-decoration: none;
      font-size: 12px;
      padding: 0 10px;
      font-weight: 600;
      font-family: "Raleway";
    }
  }
}

.landing-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-inline-size: 1200px;
  margin: 0 auto;

  .text-content {
    flex: 1;
    margin-inline-end: 20px;
    padding: 0 4%;

    h2 {
      font-size: 32px;
      line-height: 40px;
      font-family: "Raleway";
      padding-bottom: 10px;
      margin-right: 6%;
    }

    p {
      font-size: 1rem;
      line-height: 2;
      margin: 20px 0;
      color: 424B5A;
      font-family: "Raleway";
      margin-right: 10%;
      padding-bottom: 4px;
    }

    .cta-button {
      padding: 20px 40px;
      font-size: 1rem;
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #151515;
      }
    }

    .text-animation {
      background-color: #f1d9f6;
      border-radius: 16px;
      padding: 3px 10px;
    }
  }

  .image-content {
    flex: 1;
    text-align: center;
    max-inline-size: 25%;
    padding-right: 10%;

    img {
      max-inline-size: 100%;
      block-size: auto;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .text-content {
      margin-inline-end: 0;
      text-align: center;
      margin-block-end: 20px;
    }
  }
}

.carousel-container {
  inline-size: 100%;
  max-inline-size: 1200px;
  margin: 0 auto;
  padding: 100px 40px;
}

/*  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  } */

.carousel-image {
  inline-size: 35%;
  border-radius: 8px;
  object-fit: cover;

  @media (max-width: 768px) {
    inline-size: 100%;
  }
}

.carousel-text {
  inline-size: 60%;

  h2 {
    font-size: 1.8rem;
    margin-block-end: 10px;

    .highlight {
      color: #880e4f;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5;

    strong {
      color: #000;
    }
  }

  @media (max-width: 768px) {
    inline-size: 100%;
  }
}

.background-text {
  //position: absolute;
  inset-block-end: -100px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.05);
  z-index: -1;

  .background-image {
    inline-size: 100%; // Ajustez cette valeur selon vos besoins
    max-inline-size: 1200px;
    opacity: 0.5; // Rend l'image discrète
    margin: 30px auto;
  }

  .background-list {
    //position: absolute;
    inset-block-end: -30px; // Ajustez cette valeur pour la position
    inset-inline-start: 20px;
    text-align: start;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    list-style-type: none;
    list-style-type: disc;

    li {
      margin-block-end: 5px;
    }
  }
}

.carousel-image-error {
  position: absolute;
  margin-inline-end: 260px;
  margin-block-start: 280px;

  img {
    inline-size: 100px;
  }
}

.story-video {
  inline-size: 100%; /* Compatibilité avec tous les navigateurs */
  inline-size: -webkit-fill-available; /* Spécifique pour les navigateurs basés sur WebKit */
  // max-inline-size: 800px; /* Limite la largeur maximale de la vidéo */
  block-size: auto; /* Maintient les proportions de la vidéo */
  border-radius: 0px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : ajout d'une ombre */
  margin: 0 auto; /* Centre la vidéo dans son conteneur */
}
