.signup-container {
  max-inline-size: 600px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  color: #333;
  position: relative;

  h1 {
    font-size: 28px;
    margin-block-end: 10px;
  }

  p {
    margin: 10px 0;
    line-height: 1.5;
  }

  .edit-email-link {
    color: #007bff;
    text-decoration: none;
  }

  .edit-email-link:hover {
    text-decoration: underline;
  }

  .signup-form {
    margin-block-start: 20px;
  }

  .signup-form input[type="text"],
  .gender-select,
  input[type="email"],
  .signup-form input[type="password"] {
    inline-size: 100%;
    padding: 10px;
    margin-block-end: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .form-row {
    display: flex;
    gap: 10px;
  }

  .date-picker {
    flex: 1;
    margin-inline-end: 50px;
  }

  .gender-select {
    flex: 1;
    margin-inline-start: 50px;
  }
  .password-helper {
    font-size: 14px;
    color: #888;
    margin-block-end: 15px;
  }

  .terms-label {
    display: flex;
    align-items: flex-start;
    margin-block-end: 15px;
    font-size: 14px;
  }

  .terms-label input {
    margin-inline-end: 10px;
  }

  .signup-button {
    inline-size: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #5c0d91;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .signup-button:hover {
    background-color: #450b6d;
  }

  .signup-footer {
    text-align: center;
    margin-block-start: 40px;
    font-size: 14px;
    color: #666;
  }

  .signup-footer a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
  }
  .error-message {
    color: red;
    margin-block-start: 15px;
    font-size: 14px;
  }
  .signup-footer a:hover {
    text-decoration: underline;
  }

  .background-text {
    //position: absolute;
    inset-block-end: -100px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.05);
    z-index: -1;

    .background-image {
      inline-size: 100%; // Ajustez cette valeur selon vos besoins
      max-inline-size: 1200px;
      opacity: 0.5; // Rend l'image discrète
      margin: 30px auto;
    }

    .background-list {
      position: absolute;
      inset-block-end: -30px; // Ajustez cette valeur pour la position
      inset-inline-start: 20px;
      text-align: start;
      font-size: 14px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      list-style-type: none;
      list-style-type: disc;

      li {
        margin-block-end: 5px;
      }
    }
  }

  .password-criteria {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    li {
      font-size: 14px;
      margin: 5px 0;
      position: relative;
      padding-inline-start: 20px;

      &::before {
        content: "•";
        position: absolute;
        inset-inline-start: 0;
      }

      &.valid {
        color: green;
      }

      &.invalid {
        color: red;
      }
    }
  }
}
