.verify-code-container {
  max-inline-size: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: "Inter";

  h2 {
    font-family: "Urbanist";
    font-size: 36px;
    margin-block-start: 60px;
    margin-block-end: 20px;
  }

  p {
    font-size: 15px;
    margin-block-end: 20px;
    color: #666;
    font-weight: 400;
  }

  .code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block-start: 40px;

    .code-input {
      inline-size: 40px;
      block-size: 50px;
      font-size: 24px;
      text-align: center;
      border: 2px solid #ccc;
      border-radius: 8px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #000000;
      }
    }
  }

  .error-message {
    color: red;
    margin-block-start: 15px;
    font-size: 14px;
  }

  .submit-button {
    margin-block-start: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff334e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff334e;
    }
  }
  .signup-button {
    inline-size: 100%;
    padding: 12px;
    margin-block-start: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }

  .signup-button:hover {
    background-color: #181818;
  }
}
